/* Base Application Styles */
@import "Colors";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
}

.spinner-container, .error-container {
  padding-top: 10rem;
  text-align: center;
}

.error-container {
  color: #d11;
}

.error {
  vertical-align: middle;
}

$brand-primary: $primary-color;
$link-color: lighten($secondary-color, 15%);

// nav
$navbar-inverse-bg: darken($primary-color, 15%);
$navbar-inverse-link-color: lighten(#000, 80%);

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$footer-height: 60px;

body {
  margin-bottom: $footer-height + 20px;
}

.main-logo-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.last-modified-date {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $gray-lighter;
  text-align: center;

  p {
    margin-top: 15px;
    color: $gray-light;
  }
}

.positive-error {
  color: green;
}

.negative-error {
  color: red;
}

.unimportant {
  color: lightgrey;
}

.status {
  font-family: monospace;

  .list-group-item {
    .label {
      float: right;
    }

    .label-primary {
      background-color: #5bc0de;
    }

    .label-success {
      background-color: #5cb85c;
    }

    span {
      float: right;
    }
  }
}

.record {
  color: gray;
  font-size: 0.9em;
  padding-left: 1em;
}