/* Base Application Styles */
@import 'Colors';

$footer-height: 60px;

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  position: relative;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: $footer-height + 10px;
}

.spinner-container,
.error-container {
  padding-top: 10rem;
  text-align: center;
}

.error-container {
  color: #d11;
}

.error {
  vertical-align: middle;
}

$brand-primary: $primary-color;
$link-color: lighten($secondary-color, 15%);

// nav
$navbar-inverse-bg: darken($primary-color, 15%);
$navbar-inverse-link-color: lighten(#000, 80%);
$nav-inverse-bg: darken($primary-color, 15%);
$nav-inverse-link-color: lighten(#000, 80%);

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

.main-logo-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.last-modified-date {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $gray-lighter;
  text-align: center;

  p {
    margin-top: 15px;
    color: $gray-light;
  }
}

.positive-error {
  color: green;
}

.negative-error {
  color: red;
}

.team-game-list {
  .date {
    flex: 1;
  }

  .opponent {
    flex: 3;
  }

  .score {
    flex: 2;
    text-align: center;
  }

  .error {
    flex: 1;
  }
}

.result-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  .prediction {
    color: grey;
    font-style: italic;
    flex: 2;
    margin-top: 0.1em;
    margin-bottom: -0.3em;
  }

  .projection-annotation {
    color: grey;
    font-style: italic;
    flex: 1;
    font-size: 0.7em;
    margin-bottom: 0.3em;
  }
}

.status {
  font-family: monospace;

  .list-group-item {
    .label {
      float: right;
    }

    .label-primary {
      background-color: #5bc0de;
    }

    .label-success {
      background-color: #5cb85c;
    }

    span {
      float: right;
    }
  }
}

.record {
  color: gray;
  font-size: 0.9em;
  padding-left: 1em;
}

.team-rank {
  font-size: 0.75em;
  vertical-align: top;
  padding-right: 0.25em;
}

.at {
  font-size: 0.75em;
  padding-right: 0.5em;
  text-transform: uppercase;
}

.games-by-division {
  .date {
    padding-top: 1em;
    font-weight: bold;
  }

  .team-name {
    flex: 2;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }

  .result {
    flex: 1;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: center;
  }
}

.team-list {
  .rank {
    flex: 1;
    text-align: center;
  }

  .team {
    flex: 4;
  }

  .rating {
    flex: 2;
    text-align: center;
  }
}

.sn-table {
  padding-top: 2em;
  display: flex;
  flex-direction: column;

  .sn-row {
    display: flex;
    line-height: 1.5;
    min-height: 3em;
    align-items: center;
    border-top: 1px solid #ddd;

    &.no-border {
      border-top: 0;
    }

    &.header {
      font-weight: bold;
      align-items: flex-end;
      min-height: 1.5em;
      border-top: 0;
      border-bottom: 1px solid #ddd;
    }
  }
}

.loading-bar-container {
  width: 100%;
  height: 2px;

  .bar {
    background-color: $brand-primary;
    height: 100%;
    display: block;
  }
}
