/* Base Application Styles */

.spinner-container, .error-container {
  padding-top: 10rem;
  text-align: center;
}

.error-container {
  color: #d11;
}

.error {
  vertical-align: middle;
}

body {
  padding-top: 70px;
}

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
